[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Gus Ryan
	email = gus.ryan163@gmail.com
[alias]
	unc = reset --soft HEAD~1
	wip = "!f() { git add -A && git commit -m \"wip $@\"; }; f"
	tm = "!f() { git add -A && git commit -m \"tm $@\"; }; f"
	c = checkout
	cm = commit -m
	cma = "!f() { git add -A && git commit -m \"$@\"; }; f"
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	cmpa = "!git add -A && git commit --amend --no-edit && git push --force"
	m = merge
	p = push
	pf = push --force
	pullr = "!git fetch && git pull --rebase=false"
	cd = checkout develop-global
	cod = checkout origin/develop-global
	md = "!git fetch && git merge origin/develop-global -m merge"
	mo = "!f() { BRANCH=$(git branch --show-current); echo \"Merging origin/$BRANCH into current branch\"; git fetch && git merge \"origin/$BRANCH\" -m merge; }; f"
	nb = "!f() { git fetch && git checkout -b \"$@\" origin/develop-global; git push; }; f"
	nbp = "!f() { git fetch && pbpaste | xargs -I % git checkout -b % origin/develop-global; git push; }; f"
	nbm = "!f() { git fetch && git checkout -b \"$@\" origin/master; git push; }; f"
	nbmp = "!f() { git fetch && pbpaste | xargs -I % git checkout -b % origin/master; git push; }; f"
[push]
	autoSetupRemote = true
	default = current
[credential]
	helper = osxkeychain
[advice]
	detachedHead = false
