# mac files
**/*.DS_Store

# zed
zed/embeddings
zed/prompts
zed/conversations

zsh/.env

gh

thefuck/__*

yarn

StardewValley

~
configstore

# secrets and machine state
grafana-mcp/token
homebrew

location_cli/.build
